/*font-family: 'Open Sans', sans-serif; 
font-family: 'Oswald', sans-serif;*/

@mixin heading-h1 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4vw;
}

@mixin heading-h2 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
}

@mixin heading-h3 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
}

@mixin text-step {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vw;
  color: #4caf50;
}

@mixin text-p {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}

// @mixin basetext-p {
//   font-family: "Open Sans", sans-serif;
//   font-style: normal;
//   font-size: 0.7vw;
//   line-height: 1.5rem;
//   font-weight: 400;
// }

@media (min-width: 600px) and (max-width: 1023px) {
  @mixin heading-h1 {
    font-size: 5vw;
  }

  @mixin heading-h2 {
    font-size: 3.5vw;
  }

  @mixin heading-h3 {
    font-size: 2vw;
  }

  @mixin text-step {
    font-size: 2vw;
  }
}

@media screen and (max-width: 599px) {
  @mixin heading-h1 {
    font-size: 6vw;
  }

  @mixin heading-h2 {
    font-size: 4vw;
  }

  @mixin heading-h3 {
    font-size: 3vw;
  }

  @mixin text-step {
    font-size: 3vw;
  }

  @mixin basetext-p {
    font-size: 3vw;
    line-height: 1.1rem;
  }
}

@mixin shadow {
  filter: drop-shadow(0 0 0.75rem crimson);
}

/* Марина main начало*/
@mixin card-body-l {
  min-width: 95%;
  min-height: 250px;
  padding: 120px;
  text-align: center;
}

/* Марина main конец*/
