@mixin heading-h1 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin heading-h2 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin heading-h3 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin text-step {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #4caf50;
}

@mixin text-p {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}


@media screen and (max-width: 599px) {

  @mixin basetext-p {
    line-height: 1.1rem;
  }
}

@mixin shadow {
  filter: drop-shadow(0 0 0.75rem crimson);
}
