$color1: #0b3529;
$color2: #dbefdc;
$color3: #1b8265;
$text-color1: #ffffff;
$text-color2: #333333;
$text-color-stages: #4caf50;
$card-height: 100%;
$card-width: 100%;
$stage-item-height: 4rem;
$stage-item-width: 4rem;
$box-shadow: 0px 0px 20px #dbdbdb;
$box-shadow-card: 1px 1px 10px rgba(0,0,0,.3);
$font-size-h1: 4vw;
$font-size-h2: 2vw;
$font-size-h3: 1.9vw;
$font-size-text: 1.5vw;
$font-size-h1-tablet: 6.5vw;
$font-size-h2-tablet: 3.5vw;
$font-size-h3-tablet: 2.8vw;
$font-size-text-step-tablet: 3vw;
$font-size-textl: 2.5vw;
$font-size-h1-phone: 9vw;
$font-size-h2-phone: 4vw;
$font-size-h3-phone: 3.5vw;
$font-size-text-step-phone: 6vw;
$font-size-text-p-phone: 3vw;
$font-size-textxl: 3vw;
