/* Тут будут шрифты и общие цвета в макете*/

/* стили для Deckstop*/
$color1: #0b3529;
$color2: #1b8265;
$text-color1: #ffffff;
$text-color2: #333333;
/*стили для advantages*/
$text-color-stages: #4caf50;
$card-height: 100%;
$card-width: 100%;
$stage-item-height: 4rem;
$stage-item-width: 4rem;
$box-shadow: 0px 0px 20px #dbdbdb;
/*размеры текста стандартные*/
$font-size-h1: 4vw;
$font-size-h2: 2vw;
$font-size-h3: 1.9vw;
/*размеры текста для планшета*/
$font-size-h1-tablet: 6.5vw;
$font-size-h2-tablet: 3.5vw;
$font-size-h3-tablet: 2.8vw;
$font-size-text-step-tablet: 5vw;
/*размеры текста для телефона*/
$font-size-h1-phone: 9vw;
$font-size-h2-phone: 4vw;
$font-size-h3-phone: 3.5vw;
$font-size-text-step-phone: 6vw;
$font-size-text-p-phone: 3vw;
