.main-stages__title-decoration {
  width: 4vw;
  height: 0.1vw;
}
.card {
  border-radius: 8px;
  display: flex;
  width: $card-width;
  height: $card-height;
  margin-top: 30px;
}
.card-title {
  font-size: $font-size-h3;
  @include text-step;
}

.card-text {
  @include text-p;
}

.widget-title {
  display: flex;
  justify-content: space-between;
}
.widget-title .widget-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.widget-title .widget-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: $stage-item-width;
  height: $stage-item-height;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: $box-shadow;
  font-weight: 700;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .card-title {
    font-size: $font-size-text-step-tablet;
  }
}
@media screen and (max-width: 599px) {
  .card-text {
    font-size: $font-size-text-p-phone;
  }
}
