.main-stages__title-decoration {
  width: 4vw;
  height: 0.1vw;
}
.main-stages_title{
  font-size: $font-size-h2;
  @include heading-h2;
}
.card {
  border-radius: 8px;
  display: flex;
  width: $card-width;
  height: $card-height;
  margin-top: 30px;
}
.card-title {
  font-size: $font-size-h3;
  @include text-step;
}

.card-text {
  font-size: 1.4vw;
  @include text-p;
}

.widget-title {
  display: flex;
  justify-content: space-between;
}
.widget-title .widget-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.widget-title .widget-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: $stage-item-width;
  height: $stage-item-height;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: $box-shadow;
  font-weight: 700;
}
.bottom_green {
  border-bottom: 3px solid #70bf73;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .card-title {
    font-size: $font-size-h3-tablet;
  }
  .card-text {
    font-size: 2.2vw;
  }
  .main-stages_title {
    font-size: $font-size-h2-tablet;
  }
}
@media screen and (max-width: 599px) {
  .card-text {
    font-size: $font-size-h3-phone;
  }
  .card-title {
    font-size: $font-size-h3-phone;
  }
  .main-stages_title {
    font-size: $font-size-h2-phone;
  }
}

.animation:hover{
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: $box-shadow-card;
    cursor: pointer;
}