/* CSS-стили Desktop */
.footer {
  background-color: #000000;
  min-height: 8rem;
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 100%;
}
.footer__logo {
  width: 18%;
  padding-top: 1rem;
  margin-left: 7rem;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 6rem;
  padding-top: 1.5rem;
}
.footer__section {
  width: 50%;
  word-wrap: break-word;
  margin-right: 2rem;
  font-size: 1.2vw;
  color: $text-color1;
  @include text-p;
}
.footer__section::after {
  content: "";
  display: block;
  width: 2vw;
  margin-left: 3vw;
  border-bottom: 1px solid $color2;
}
.footer-link {
  color: $text-color1;
  text-decoration: none;
}
.footer__section a:hover {
  color: rgb(7, 170, 121);
}

@media (min-width: 600px) and (max-width: 1023px) {
  /* CSS-стили Tablet */
  .footer {
    grid-template-columns: 30% 70%;
  }
  .footer__logo {
    padding-top: 1.5rem;
    width: 45%;
    margin-left: 0;
  }
  .footer__section {
    width: 20vw;
  }
  .footer__section::after {
    width: 3vw;
    margin-left: 3vw;
  }
}

@media screen and (max-width: 599px) {
  /* CSS-стили Smartphone*/
  .footer {
    min-height: 6rem;
    gap: 8vw;
  }
  .footer__logo {
    max-width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    align-self: center;
    width: 38%;
  }
  .footer__menu {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer__section {
    width: 26vw;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    font-size: $font-size-text-p-phone;
  }
  .footer__section::after {
    width: 4vw;
    margin-left: 6vw;
  }
}
