.rectangle-introduction {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin-left: 5%;
  margin-right: 6%;
  margin-bottom: 10%;
  min-height: auto;
}
.rectangle-introduction,
.aboutme-text,
.opening-text {
  position: relative;
  padding-top: 28px;
  margin-top: 23px;
}
.rectangle-introduction .aboutme-text::after,
.opening-text::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 6px;
  background-color: $color1;
}
h2 {
  @include heading-h2;
  /*font-family: Oswald;
    font-weight: 700;
    font-size: 36px;*/
}
.opening-text,
.opening-text-more,
.aboutme-text,
.aboutme-text-more {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.2599999904632568px;
  text-align: left;
}

.opening-text-more,
.aboutme-text-more {
  padding-top: 25px;
}
.photo {
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
  left: 135px;
}
.photo__rectangle {
  background-color: $color1;
  min-width: 25%;
  min-height: auto;
  position: absolute;
  top: 20px;
  left: 90px;
}
.photo__owner {
  min-width: 25%;
  min-height: auto;
  position: absolute;
  margin-top: 7%;
  margin-left: 5%;
  top: 10px;
  left: 30px;
}
@media (min-width: 1200px) {
  .rectangle-introduction-tablet,
  .rectangle-introduction-mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .rectangle-introduction,
  .rectangle-introduction-mobile {
    display: none;
  }
  .rectangle-introduction-tablet {
    margin-left: 5%;
    margin-right: 5%;
  }
  .photo-aboutme {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 65px;
  }
  .rectangle-introduction-tablet .aboutme-text,
  .opening-text {
    position: relative;
    padding-top: 28px;
    margin-top: 23px;
  }
  .rectangle-introduction-tablet .aboutme-text::after,
  .opening-text::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 6px;
    background-color: $color1;
  }
  h2 {
    @include heading-h2;
    /*font-family: Oswald;
        font-weight: 700;
        font-size: 36px;*/
    padding-top: 30px;
  }
  .opening-text,
  .opening-text-more,
  .aboutme-text,
  .aboutme-text-more {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.2599999904632568px;
    text-align: left;
  }
  h2,
  .photo-tablet {
    margin: auto;
  }
  .opening-text-more,
  .aboutme-text-more {
    padding-top: 25px;
  }
  .photo-tablet {
    position: relative;
    margin-top: 20px;
    margin-left: 0;
  }
  .photo__rectangle {
    display: none;
  }
  .photo__owner {
    min-width: 25%;
    min-height: auto;
    position: absolute;
  }
  .aboutme-tablet {
    margin-top: 5%;
  }
}
@media (max-width: 767px) {
  .rectangle-introduction,
  .rectangle-introduction-tablet {
    display: none;
  }
  .rectangle-introduction-mobile {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    gap: 20px;
  }
  .rectangle-introduction-mobile .aboutme-text,
  .opening-text {
    position: relative;
    padding-top: 28px;
    margin-top: 23px;
  }
  .rectangle-introduction-mobile .aboutme-text::after,
  .opening-text::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 6px;
    background-color: $color1;
  }
  .introduction-mobile {
    margin-top: 5%;
  }
  h2 {
    @include heading-h2;
    margin: auto;
    /*font-family: Oswald;
        font-weight: 700;
        font-size: 36px;*/
  }
  .opening-text,
  .opening-text-more,
  .aboutme-text,
  .aboutme-text-more {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.2599999904632568px;
    text-align: left;
  }

  .opening-text-more,
  .aboutme-text-more {
    padding-top: 25px;
  }
  .photo-mobile {
    position: relative;
    min-height: auto;
    margin-top: -13%;
  }
  .photo__owner {
    min-width: 25%;
    min-height: auto;
    position: absolute;
  }
  .photo__rectangle {
    min-width: 25%;
    min-height: auto;
    position: absolute;
  }
  .aboutme-mobile {
    margin-top: 5%;
  }
}
