.rectangle-introduction {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin-left: 5%;
  margin-right: 6%;
  min-height: auto;
}
.rectangle-introduction,
.aboutme-text,
.opening-text {
  position: relative;
  padding-top: 28px;
  margin-top: 10px;
}
.rectangle-introduction .aboutme-text::after,
.opening-text::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 2px;
  background-color: $color3;
}
h2 {
  color: $text-color2;
  font-size: $font-size-h2;
  @include heading-h2;
}
.opening-text,
.opening-text-more,
.aboutme-text,
.aboutme-text-more {
  text-align: left;
}
.opening-text-more,
.aboutme-text-more {
  padding-top: 0;
}
.photo__owner {
  width: 80%;
  min-height: auto;
  margin-left: 10%;
}
@media (min-width: 1200px) {
  .rectangle-introduction-tablet,
  .rectangle-introduction-mobile {
    display: none;
  }
  .img-coach {
    box-shadow: 55px 56px 1px -1px $color1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .rectangle-introduction,
  .rectangle-introduction-mobile {
    display: none;
  }
  .rectangle-introduction-tablet {
    margin-left: 5%;
    margin-right: 5%;
  }
  .photo-aboutme {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 65px;
    gap: 5px;
  }
  .img-coach {
    width: 100%;
    max-height: 365px;
    object-fit: contain;
  }
  .rectangle-introduction-tablet .aboutme-text,
  .opening-text {
    position: relative;
    padding-top: 28px;
    margin-top: 10px;
  }
  .rectangle-introduction-tablet .aboutme-text::after,
  .opening-text::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 2px;
    background-color: $color3;
  }
  h2 {
    padding-top: 30px;
    @include heading-h2;
  }
  h2,
  .photo-tablet {
    margin: auto;
  }
  .photo-tablet {
    width: 90%;
    position: relative;
  }
  .photo-tablet__owner {
    width: 100%;
    min-height: auto;
  }
  .aboutme-tablet {
    margin-top: 5%;
  }
}
@media (max-width: 767px) {
  .rectangle-introduction,
  .rectangle-introduction-tablet {
    display: none;
  }
  .rectangle-introduction-mobile {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    gap: 10px;
  }
  .rectangle-introduction-mobile .aboutme-text,
  .opening-text {
    position: relative;
    padding-top: 28px;
    margin-top: 10px;
  }
  .rectangle-introduction-mobile .aboutme-text::after,
  .opening-text::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: $color3;
  }
  .introduction-mobile {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  h2 {
    margin: auto;
    font-size: $font-size-h2-phone;
  }
  .photo-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo-mobile__owner {
    min-width: 60%;
    min-height: auto;
    margin-left: 15%;
  }
  .img-coach {
    width: 60%;
    min-height: auto;
    object-fit: cover;
    box-shadow: -30px 30px 1px -1px $color1;
  }  
  .aboutme-mobile {
    margin-top: 10%;
  }
}
@media screen and (max-width: 599px) {
  .photo-mobile {
    margin-top: -10%;
  }
}
