/* CSS-стили Desktop */
.main-services {
  width: 85%;
  margin-left: 10%;
  margin-right: 15%;
  padding-bottom: 2%;
  margin-top: 5%;
}
​ .row {
  margin-left: 5%;
  margin-right: 5%;
}
​ .main-services__title {
  color: $text-color2;
  margin: 0;
  padding: 0;
  font-size: $font-size-h2;
  @include heading-h2;
}

.main-services__title__decoration {
  width: 2.3vw;
  height: 0.1vw;
}

@media only screen and (max-width: 599px) {
  .main-services {
    display: none;
  }
}
