/* CSS-стили Desktop */
.main-services {
  width: 85%;
  margin-left: 10%;
  margin-right: 15%;
  padding-bottom: 2%;
  margin-top: 5%;
}
​ .row {
  margin-left: 5%;
  margin-right: 5%;
}
​ .main-services__title {
  color: $text-color2;
  margin: 0;
  padding: 0;
  @include heading-h2;
}
​ .main-services__title__decoration {
  width: 2.3vw;
  height: 0.1vw;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .main-services__title {
    font-size: $font-size-h2-tablet;
  }
}
@media screen and (max-width: 599px) {
  .main-services__title {
    margin-top: 2%;
    font-size: $font-size-h2-phone;
  }
}
