@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

    .main-industries__title {
        margin-left: 180px;
        margin-top: 100px;
        display:grid;
        margin-bottom: 60px;
    }

    .main-industries__title__text {
        font-family: 'Oswald', sans-serif;
        font-size: /*36px;*/ 2.25rem;
        font-weight: 700;
        color: #252525;
    }

    .main-industries__title__decoration{
        /*margin-top: -21px;*/
        width: 45px;
        height: 2px;
    }

    .main-industries__list{
        display:grid;
        margin-left: 335px;
        margin-right: 335px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        margin: auto;
        width: 70%;
    }

    .main-industries__item{
        margin-left: 50px;
        font-family: 'Oswald', sans-serif;
        font-size: /*24px;*/1.5rem;
        color: #5B5858;
        text-align: center;
    }

    .main-industries__item_middle{
        margin-left: 50px;
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        color: #5B5858;
        text-align: center;
        grid-column: 2/3;
    }

/*Media Quary*/


    /*@media only screen and (max-width: 800px){
        .main-industries__list{
            grid-template-columns: 1fr;
            margin: 0;
        }
    }*/
    @media (min-width: 600px) and (max-width: 1023px) {
        .main-industries{
            margin-left: -111px;
      }
    }
    @media only screen and (max-width: /*800px*/ 599px){
        .main-industries__list{
            grid-template-columns: 1fr;
            margin: 0;
        }
        .main-industries__title{
            margin-left: 0;
            justify-items: center;
            justify-content: start;
        }
        .main-industries__title__decoration{
            /*display: none;*/
            margin-right: 242px;
        }
    }