.main-industries__title {
  margin-left: 9vw;
  margin-top: 10vw;
  display: grid;
  margin-bottom: 6vw;
  max-width: 20vw;
  min-width: 35vw;
  color: $text-color2;
  font-size: $font-size-h2;
  @include heading-h2;
}
.main-industries__title::after {
  content: " ";
  display: block;
  width: 35px;
  height: 2px;
  margin-top: 1%;
  margin-bottom: 2%;
  background-color: $color3;
}
.main-industries__title__decoration {
  margin-top: 0.2vw;
  width: 2.3vw;
  height: 0.1vw;
}

.main-industries__list {
  display: grid;
  margin-left: 20%;
  margin-right: 20%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100%;
  margin: auto;
  width: 70%;
}

.main-industries__list h3 {
  overflow-wrap: break-word;
}

.main-industries__item {
  max-height: 5vw;
  margin-left: 3vw;
  text-align: center;
  font-size: $font-size-text;
  @include text-p;
}

.main-industries__item-middle {
  margin-left: 3vw;
  text-align: center;
  grid-column: 2/3;
  font-size: $font-size-text;
  @include text-p;
}

/*Media Quary*/

@media (min-width: 600px) and (max-width: 1024px) {
  .main-industries {
    margin-left: 2vw;
  }
  .main-industries__list {
    margin-left: 10%;
    margin-right: 0;
    grid-auto-rows: 100%;
  }
  .main-industries__title {
    font-size: $font-size-h2-tablet;
  }
  .main-industries__title__decoration {
    margin-top: 1vw;
  }
  .main-industries__item {
    font-size: $font-size-textl;
  }
  .main-industries__item-middle {
    font-size: $font-size-textl;
  }
}
@media only screen and (max-width: 599px) {
  .main-industries {
    margin-left: 2vw;
    margin-bottom: -23vw;
  }
  .main-industries__list {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 16vw;
  }
  .main-industries__title {
    margin-left: 7vw;
    justify-items: center;
    justify-content: start;
    margin-bottom: 7vw;
    font-size: $font-size-h2-phone;
  }
  .main-industries__title__decoration {
    margin-right: 19vw;
    margin-top: 2vw;
  }
  .main-industries__item {
    font-size: $font-size-textxl;
  }
  .main-industries__item-middle {
    font-size: $font-size-textxl;
  }
}

@media only screen and (max-width: 281px) {
  .main-industries__title__decoration {
    margin-top: -2vw;
  }
}
