.main-industries {
  margin-bottom: 370px;
}
.main-industries__title {
  margin-left: 9vw;
  margin-top: 10vw;
  display: grid;
  margin-bottom: 6vw;
  max-width: 20vw;
  min-width: 35vw;
  color: $text-color2;
  font-size: $font-size-h2;
  @include heading-h2;
}
.main-industries__title::after {
  content: " ";
  display: block;
  width: 35px;
  height: 2px;
  margin-top: 1%;
  margin-bottom: 2%;
  background-color: $color3;
}
.main-industries__list {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100%;
  width: 80%;
  justify-items: center;
}

.main-industries__list h3 {
  overflow-wrap: break-word;
}

.main-industries__item {
  text-align: center;
  font-size: $font-size-text;
  max-height: 100%;
  @include text-p;
}

.main-industries__item-middle {
  margin-left: 3vw;
  text-align: center;
  grid-column: 2/3;
  font-size: $font-size-text;
  @include text-p;
}

/*Media Quary*/
@media (min-width: 3500px) and (max-width: 5000px) {
  .main-industries {
    margin-bottom: 1000px;
  }
}
@media (min-width: 2500px) and (max-width: 3500px) {
  .main-industries {
    margin-bottom: 700px;
  }
}
@media (min-width: 1600px) and (max-width: 2500px) {
  .main-industries {
    margin-bottom: 500px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .main-industries {
    margin-bottom: 500px;
  }
  .main-industries__title {
    font-size: $font-size-h2-tablet;
  }
  .main-industries__item {
    font-size: $font-size-textl;
  }
  .main-industries__item-middle {
    font-size: $font-size-textl;
  }
}
@media only screen and (max-width: 599px) {
  .main-industries {
    margin-bottom: 280px;
  }
  .main-industries__list {
    grid-template-columns: 1fr 1fr;
  }
  .main-industries__title {
    font-size: $font-size-h2-phone;
  }
  .main-industries__item {
    font-size: $font-size-textxl;
    margin-bottom: -10px;
  }
  .main-industries__item-middle {
    font-size: $font-size-textxl;
  }
}
@media (min-width: 460px) and (max-width: 599px) {
  .main-industries {
    margin-bottom: 400px;
  }
  .main-industries__list {
    grid-template-columns: 1fr 1fr;
  }
  .main-industries__title {
    font-size: $font-size-h2-phone;
  }
  .main-industries__item {
    font-size: $font-size-textxl;
    margin-bottom: -10px;
  }
  .main-industries__item-middle {
    font-size: $font-size-textxl;
  }
}
@media (min-width: 540px) and (max-width: 541px) {
  .main-industries {
    margin-bottom: 380px;
  }
  .main-industries__list {
    grid-template-columns: 1fr 1fr;
  }
  .main-industries__title {
    font-size: $font-size-h2-phone;
  }
  .main-industries__item {
    font-size: $font-size-textxl;
    margin-bottom: -10px;
  }
  .main-industries__item-middle {
    font-size: $font-size-textxl;
  }
}
@media (min-width: 240px) and (max-width: 330px) {
  .main-industries {
    margin-bottom: 56%;
  }
  .main-industries__list {
    grid-template-columns: 1fr 1fr;
  }
  .main-industries__title {
    font-size: $font-size-h2-phone;
  }
  .main-industries__item {
    font-size: $font-size-textxl;
  }
  .main-industries__item-middle {
    font-size: $font-size-textxl;
  }
}
