/* CSS-стили Desktop */
.main-services {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
}

.row {
  margin-left: 5%;
  margin-right: 5%;
}

.main-services__title {
  color: $text-color2;
  margin: 0;
  padding: 0;
  @include heading-h2;
}

.main-services__title__decoration {
  width: 2.3vw;
  height: 0.1vw;
}

@media screen and (max-width: 599px) {
  /* CSS-стили Smartphone*/

  .main-services__title {
    @include heading-h1;
    margin-top: 2%;
  }
}
