.main-advantages {
  background-color: rgba(76, 175, 80, 0.2);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2vw;
}

.main-advantages__title {
  color: $text-color2;
  margin-bottom: 0;
  font-size: $font-size-h2;
  @include heading-h2;
}

.main-advantages__title__decoration {
  width: 2.3vw;
  height: 0.2vw;
}
.main-advantages__list {
  /*letter-spacing: 1.26px;*/
  line-height: 3vw;
  margin: 1vw;
}
a.button3 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 2em 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background-color: $text-color-stages;
  text-align: center;
  transition: all 0.2s;
}
@media (min-width: 1240px) and (max-width: 1500px) {
  .main-advantages__title {
    color: $text-color2;
    margin-bottom: 0;
    font-size: $font-size-h2;
    @include heading-h2;
  }
  .main-advantages {
    margin-top: 50%;
  }
  .main-advantages__list {
    line-height: 5vw;
  }
  .main-advantages__title__decoration {
    margin-top: 0%;
  }
}
@media (min-width: 1022px) and (max-width: 1239px) {
  .main-advantages__title {
    color: $text-color2;
    margin-bottom: 0;
    font-size: $font-size-h2-tablet;
    @include heading-h2;
  }
  .main-advantages {
    margin-top: 55%;
  }
  .main-advantages__list {
    line-height: 5vw;
  }
  .main-advantages__title__decoration {
    margin-top: 0%;
  }
}
@media (min-width: 875px) and (max-width: 1023px) {
  .main-advantages__list {
    line-height: 5vw;
  }
  .main-advantages__title {
    font-size: $font-size-h2-tablet;
  }
  .main-advantages__title__decoration {
    margin-top: 0%;
  }
  .main-advantages {
    margin-top: 65%;
  }
}
@media screen and (min-width: 600px) and (max-width: 874px) {
  .main-advantages {
    margin-top: 60%;
  }
  .main-advantages__list {
    line-height: 5vw;
  }
  .main-advantages__title {
    font-size: $font-size-h2-tablet;
  }
  .main-advantages__title__decoration {
    margin-top: 0%;
  }
}
@media screen and (max-width: 599px) {
  .main-advantages__list {
    line-height: 5vw;
    font-size: 3vw;
  }
  .main-advantages__title {
    font-size: $font-size-h2-phone;
  }
}
@media all and (max-width: 30em) {
  a.button3 {
    display: block;
    margin: 0.2em auto;
  }
}
