.main-industries__title {
  margin-left: 25vw;
  margin-top: 12vw;
  display: grid;
  margin-bottom: 6vw;
  max-width: 20vw;
}

.main-industries__title__text {
  color: $text-color2;
  @include heading-h2;
}

.main-industries__title__decoration {
  width: 2.3vw;
  height: 0.1vw;
}

.main-industries__list {
  display: grid;
  margin-left: 47vw;
  margin-right: 47vw;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100%;
  margin: auto;
  width: 70%;
}

.main-industries__list h3 {
  min-width: 0;
  overflow-wrap: break-word;
}

.main-industries__item {
  margin-left: 7vw;
  font-size: 1.3vw;
  text-align: center;
  @include text-p;
}

.main-industries__item-middle {
  margin-left: 7vw;
  text-align: center;
  grid-column: 2/3;
  font-size: 1.3vw;
  @include text-p;
}

/*Media Quary*/

@media (min-width: 600px) and (max-width: 1023px) {
  .main-industries {
    margin-left: -14vw;
  }
  .main-industries__list {
    grid-auto-rows: 100%;
  }
}
@media only screen and (max-width: 599px) {
  .main-industries__list {
    grid-template-columns: 1fr;
    grid-auto-rows: 6vw;
    margin-right: 26vw;
    margin-top: -2vw;
  }
  .main-industries__title {
    margin-left: 7vw;
    justify-items: center;
    justify-content: start;
    margin-bottom: 7vw;
  }
  .main-industries__title__decoration {
    margin-right: 14vw;
    margin-top: -0.9vw;
  }
}

@media only screen and (max-width: 281px) {
  .main-industries__title__decoration {
    margin-right: 40px;
    margin-top: -5px;
  }
}
