.mission-wrapper {
  // border: 1px dashed red;
  background-color: #fbfbfb;
  display: grid;
  justify-items: center;
  width: 100%;
  margin-top: 5%;
}
.mission-block {
  // border: 1px dashed rgb(14, 8, 110);
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  max-width: 1800px;
  min-height: 15vw;
  padding-left: 5%;
  padding-right: 5%;
  // margin-top: 2%;
}
.mymission__text,
.unic__text,
.instruments__text {
  line-height: 1.3em;
}


.mymission,
.unic,
.instruments {
  // border: 1px dashed red;
  background-color: #ffffff;
  margin: 20px;
  min-width: 22vw;
  min-height: 15vw;
  padding: 25px;
}
.mymission__headline-block,
.unic__headline-block,
.instruments__headline-block {
  // border: 1px dashed rgb(8, 116, 49);
  align-items: start;
  display: grid;
  grid-template-columns: 3fr 1fr;
}


.mission-title {
  color: $text-color2;
  text-transform: uppercase;
  font-size: $font-size-h3;
  @include heading-h3;
}
.mymission__icon, .unic__icon, .instruments__icon {
  // border: 1px dashed red;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #dbdbdb;
  justify-self: end;
  padding: 15px;
  width: 4rem;
  height: 4rem;
}
.mymission__icon img, .unic__icon img, .instruments__icon img {
  width: 100%;
  height: 100%;
}


// медиазапросы
@media (min-width: 760px) and (max-width: 1023px) {
  .mymission,
  .unic,
  .instruments {
    margin: 5%;
    padding: 10px;
    min-width: 28vw;
    min-height: 28vw;
  }
  .mission-title {
    margin-top: 15px;
    font-size: $font-size-h3-tablet;
  }
  .mymission__text,
  .unic__text,
  .instruments__text {
    line-height: 1.1em;
  }
  .mymission__icon, .unic__icon, .instruments__icon {
    padding: 10px;
    width: 3rem;
    height: 3rem;
    justify-self: end;
  }
}
@media screen and (max-width: 759px) {
  .mission-block {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 40vw;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }


  .mymission,
  .unic,
  .instruments {
    margin: 2%;
    min-width: 30vw;
    min-height: 30vw;
  }
  .mymission__headline-block,
  .unic__headline-block,
  .instruments__headline-block {
    align-items: center;
    grid-template-columns: 2fr 0.5fr;
  }
  .mission-title {
    font-weight: 100;
    font-size: $font-size-h3-phone;
    width: 35vw;
  }
  .mymission__icon, .unic__icon, .instruments__icon {
    margin: 10px 0px;
  }
}
@media screen and (max-width: 600px) {
  .mission-block {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 40vw;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .mymission,
  .unic,
  .instruments {
    margin: 5%;
    min-width: 30vw;
    min-height: 25vw;
  }
 
}
