/* CSS-стили Desktop */
.root {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  color: #5b5858;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .root {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 599px) {
  .root {
    font-size: 2.4vw;
  }
}
